<div>
    {{#each this}}
    <section>
        <div class="text">
            {{comment_text}}
        </div>
        <div>
            <p class="username">{{user.username}} on <span class="date">{{created_at}}</span></p>
        </div>
    </section>
    {{/each}}
</div>