<div>
    {{#each this}}
    <section>
        <div class="text">
            {{comment_text}}
        </div>
        <div class="username">
            {{user.username}} on {{created_at}}
        </div>
    </section>
</div>