<article class="card post">
    <div class="card-header post-header">
        <a class="post-link col-9" href="/post/{{id}}">{{title}}</a>

        <span class="date"> posted: {{created_at}}</span>
    </div>
    <div class="info">
        {{content}}
    </div>
</article>