<div class="item-container">
    <h2 class="title">Edit Your Post Here </h2>
</div>

<section>
    <form class="card post edit-post">
        <div class="card-header post-header">
            <div>
            <label for="edit-title">Title:</label>
            <input type="text" name="edit-title" id="edit-title" value="{{post.title}}"/>
            </div>
        </div>
        <div class="d-grid">
            <label for="edit-content" class="content-label">Content:</label>
           <textarea name="edit-content">{{post.content}}</textarea> 

           {{#if post.post_url}}
           <p>{{format_url post.post_url}}</p>
           {{/if}}
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-success save-post">Save Post</button>
            <button type="button" class="btn btn-danger delete-post">Delete</button>
        </div>
    </form>
</section>
<script src="/scripts/edit-post.js"></script>
<script src="/scripts/delete-post.js"></script>