<div class="item-container">
    <h1 class="title"> Users Posts</h1>
</div>

<section class="d-grid justify-content-evenly align-items-start col-6">
    {{#each posts as |post|}}
    <div>
        {{>post-info post}}
    </div>
    {{/each}}
</section>