<h2>Login</h2>
<section>
    <form class="login-form">
        <div>
            <label for="email">Email: </label>
            <input type="text" id="email"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password"/>
        </div>
        <div>
            <button class="btn btn-info" type="submit">login</button>
        </div>
    </form><br>
    
    <p>Don't have an account yet? Sign-Up Here!</p>
    <a  class="btn btn-primary" href="/signup">Sign-Up</a>
</section>
<script src="/scripts/login.js"></script>