<section class="login">
    <form class="login-form">
        <div>
            <label for="email">email: </label>
            <input type="text" id="email"/>
        </div>
        <div>
            <label for="password">password:</label>
            <input type="password" id="password"/>
        </div>
        <div>
            <button type="submit">login</button>
        </div>
    </form>
</section>
<script src="/scripts/login.js"></script>