<div class="item-container">
    <h2 class="title">Login</h2>
</div>

<section class="d-flex justify-content-center">
    <form class="login">
        <div>
            <p>
                Login here if you already have an account with us
            </p>
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="text" id="email"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password"/>
        </div>
        <div>
            <button class="btn btn-info" type="submit">login</button>
        </div>
        <span>Don't have an account yet? Sign-Up Here!</span>
        <div>  
            <a  class="btn btn-info" href="/signup">Sign-Up</a>
        </div>
    </form>
    
    
</section>
<script src="/scripts/login.js"></script>