<h2>LOGIN</h2>
<section class="login">
    <form class="login-form">
        <div>
            <label for="email">email: </label>
            <input type="text" id="email"/>
        </div>
        <div>
            <label for="password">password:</label>
            <input type="password" id="password"/>
        </div>
        <div>
            <button type="submit">login</button>
        </div>
    </form><br>
    
    <p>Don't have an account sign-up here:</p>
    <a href="/signup">Sign-Up</a>
</section>
<script src="/scripts/login.js"></script>