<div class="item-container">
    <h2 class="title">Sign-Up</h2>
</div>
<section class="d-flex justify-content-center">
    <form class="signup">
        <div>
            <p>Sign-Up here to start posting your tech insights!</p>
        </div>
        <div>
            <label for="signup-username">Username:</label>
            <input type="text" id="signup-username"/>
        </div>

        <div>
            <label for="signup-email">Email:</label>
            <input type="email" id="signup-email"/>
        </div>

        <div>
            <label for="signup-password">Password:</label>
            <input type="password" id="signup-password"/>
        </div>
        
        <div>
            <button type="submit" class="btn btn-info signup-submit">Sign-Up</button>
        </div>
    </form>
</section>
<script src="/scripts/signup.js"></script>